<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ql_duan" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=baocaodoan.ql_duan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLCHDDEntities" connectionString="metadata=res://*/ql_duan.csdl|res://*/ql_duan.ssdl|res://*/ql_duan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6T9JTF7\DAT;initial catalog=QLCHDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLCHDDEntities1" connectionString="metadata=res://*/model.ql_duan.csdl|res://*/model.ql_duan.ssdl|res://*/model.ql_duan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6T9JTF7\DAT;initial catalog=QLCHDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=DESKTOP-6T9JTF7\DAT;initial catalog=QLCHDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=DESKTOP-6T9JTF7\DAT;initial catalog=QLCHDD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>